@import url('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');

#root {
	background-color: #F4F8FB;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #4d4d4d;
	height: 100vh; //Set view to 100% of screen
	min-width: 400px;
	max-width: 100%;
	margin: 0 auto;

}

body {
	background: #F4F8FB;
	text-align: center;
	width: 100%;
	/*font-family: 'Tillana', sans-serif;*/
}

.box-row {
	display: flex;
	flex: row;
	justify-content: space-around;
}
.test1 {
	background-color: #FFFFFF;
	border: 1px solid #e1e8ed;
	border-radius: 5px;
	width: 290px;
	height: 191px;
}
.close {
	right: 15px;
}

.test3 {
	background-color: #FFFFFF;
	border: 1px solid #e1e8ed;
	border-radius: 5px;
	width: 290px;
	height: 139px;
}
.test2 {
	background-color: #FFFFFF;
	border: 1px solid #e1e8ed;
	border-radius: 5px;
	width: 588px;
	height: 139px;
}
